{% extends 'bizconsult/base/base.html' %}
{% load static %}

{% block 'main' %}

<!-- Contact Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">Contact Us</div>
            <h2 class="mb-5">If You Have Any Query, Please Feel Free Contact Us</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.3s">
                <p class="text-center mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>
                <form id="TagsForm"  action="post">
                     {% csrf_token %} <!-- protection contre les jetons d'injections js-->
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="id_name" placeholder="Your Name" name="name"  v-model="name">
                                <label for="name">Your Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="id_email" placeholder="Your Email"  name="email"  v-model="email">
                                <label for="email">Your Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="id_subject" placeholder="Subject"  name="subjects"  v-model="subjects">
                                <label for="subject">Subject</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a message here" id="id_message" style="height: 150px"  name="messag"  v-model="messag"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3"  @click.prevent="post_data" type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var app2 = new vue({
        el: "TagsForm"
        data:{
            name: '',
            email: '',
            subjects:'',
            comments:'',
            url:"{% url 'contact' %}"
        },
        method:{
            post_data(){
                if(this.name === '' || this.email === '' || this.subjects === ''|| this.comments === ''){
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Veuillez remplir tous les champs',
                      })
                      else if (!/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.email)){
                        Swal.fire({
                            icon: 'error',
                            title: 'Email Error',
                            text: 'Veuillez remplir tous les champs',
                          })
                    }
                    else{
                        axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                        axios.defaults.xsrfCookieName = 'csrftoken'

                        let form = new FormData()
                        form.append('nom', this.name)
                        form.append('prenom', this.email)
                        form.append('email', this.subjects)
                        form.append('email', this.comments)
                        axios.post(this.url, form).then((response)=>{
                            if(response.data.success){
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Oops...',
                                    text: response.data.alert,
                                  })
                            }
                        })

                    }
            }
        }
    })
</script>
{% endblock 'main' %}